@import "normalize.css";
@import "skeleton.css";

.container {
  padding: 8rem 0 7rem;
}

.alert {
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
}

.success {
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.failure {
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.copy-btn {
  margin-bottom: 0;
  height: auto;
  line-height: 18px;
  padding: 0 10px;
}
