<Shortener/>

<div class="container">
  <div class="row">
    <div class="column">
      <p>with.lv is powered by <a href="https://github.com/ffissore/shorty">shorty</a></p>
      <p>shorty is a url shortener written in rust and available as an http microservice, as an AWS lambda, and as a library</p>
      <p>&copy; 2019 <a href="mailto:federico@fissore.org">Federico Fissore</a> - <a href="https://github.com/ffissore/shorty">github</a> - <a href="https://twitter.com/cmdrline">twitter</a></p>
    </div>
  </div>
</div>
